@import 'variables';

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  & .form-div{
    width:40%;
    height: 80%;
    padding: 40px;
    box-sizing: border-box;
    border:1px solid $primary-color;
    font-family: 'Montserrat';
    border-radius: 15px;

    & h2{
      margin: 0 0 40px;
      padding: 0;
      color: $primary-color;
      text-transform: uppercase;
    }

    & input{
      padding: 10px 0;
      margin-bottom: 30px;
      width:100%;
      border:none;
      outline: none;
      border-bottom: 2px solid $primary-color;
    }

    & textarea{
      height: 7rem;
      padding:10px 0;
      margin-bottom: 2rem;
      width: 100%;
      border:none;
      outline: none;
      border-bottom: 2px solid $primary-color;
      margin-bottom: 20px;
      
    }

    & input:focus ~ label,
    & textarea:focus ~ label{
      top:-15px;
      left:0;
      color:$primary-color;
      font-weight: 600;
    }
    

    & #submit-btn{
      margin-top:2rem;
      border-bottom: none;
      cursor: pointer;
      background: $primary-color;
      color:#fff;
      text-transform: uppercase;
      font-size:1rem;
      font-weight: 600;
      border-radius: 20px;
    }

    & form{
      & div{
        position: relative;

        & label{
          position: absolute;
          top:10px;
          left:0;
          color:$secondary-color;
          transition: 0.5s;
          pointer-events: none;
          font-weight: 600;
        }
      }
    }
  }
  & .intro{
    width:40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;

    & h2{
      font-size:1.6rem;
      text-align: center;

      & span{
        color:$primary-color;
        text-transform: uppercase;
        font-size:3rem;
      }
    }
    & .far{
      font-size:4rem;
      background: linear-gradient(to right,rgba(121, 100, 121, 0.8) 0%, rgba(238,130,238,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top:3rem;
    }

    & .box{
      background: linear-gradient(to right,rgba(121, 100, 121, 0.8) 0%, rgba(238,130,238,1) 100%);
      padding:15px;
      border-radius: 20px;
      margin-top:3rem;

      & p{
        color:$white-color;
      }
    }
  }
}