@import 'variables';

footer{
  display:flex;
  background: rgba(238,130,238,0.6);
  height: 10vh;
  align-items: center;
  margin-bottom: 0;

  & p {
    flex:1;
    text-align: center;
    color:black;
    font-size:1.2rem;
    font-weight: 500;
  }

  & .social-media{
    flex:1;

    & .icon{
        margin-right: 1rem;


      & i{
        font-size:1.4rem;
        color:$secondary-color;
        
      }
    }
  }
}