@include mediaSm {
  header{
    
    & nav{
      & .logo-div{
        flex:1;
        & p{
          font-size:1rem;
        }
      }
      & .navbar{
        flex:2;

        & .nav-list{
          & .nav-item{
            & .nav-link{
              font-size:1rem;
            }
          }
        }
      }
    }
  }

  main{
    & .sec1{
      flex-direction: column;

      & .introduction{
        margin-top:3rem;

        & .intro-text{
          width:70%;
          margin:auto;
        }

        & .cta{
          flex-direction: column;
          width:90%;
          margin: 2rem auto;
          
          
          & .cta-learn{
            width:80%;
            margin:auto
             
          }
          & .cta-add{
            width:80%;
            margin:auto;
            margin-top:1rem;
          }
        }
      }

      & .cover-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        
        & img{
          width:60%;
          height: 80%;
        }
      }
    }
  }

  .circle-large{
    width:60vw;
    height: 60vw;
    top:-5%;
    right: -25%;
  }

  .circle-small{
    top:40%;
    left:85%;
    width:30vw;
    height: 30vw;
    transform: rotate(-145deg);
  }

  .circle-medium{
    left:6%;
    top:40%;
    transform: rotate(-90deg);
  }
}
