@include mediaSm {
  header{
    
    & nav{
      & .logo-div{
        flex:1;
        & p{
          font-size:1rem;
        }
      }
      & .navbar{
        flex:1;

        & .nav-list{
          & .nav-item{
            & .nav-link{
              font-size:1rem;
            }
          }
        }
      }
    }
  }
}