@import 'variables';
@import 'fonts';
@import 'config';
@import 'headerAndMenu';
@import 'main';
@import 'product';
@import 'footer';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body{
  overflow-x: hidden;
  height: 100vh;
}



@import 'mobile';
